* {
    margin: 5px;
    background-color: rgb(183, 228, 240);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 2px solid red; */
}

.food_img {
    width : 500px;
    height : auto;
}