* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(28, 41, 34);
    color: rgb(255, 255, 255);
}

a {
    color: sandybrown;
}

.title {
    color: rgb(222, 233, 124);
    padding: 20px;
    text-align: center;
}

.container ul {
  display: flex;
  justify-content: center; /* optional: centers the cards horizontally */
  gap: 20px;                /* optional: space between cards */
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border: 3px solid rgb(255, 255, 255);

    display: flex;
    align-items: center;     /* vertical centering */
    justify-content: center; /* horizontal centering */
}

.burger-image {
    display: block;
    margin: 0px auto 20px auto;
    width: auto;
    height: 50%;
    border-radius: 20px;
}

.main-container {
    width: 1500px;
    height: auto;
    margin: 10px auto  30px auto;
    display: block;
    text-align: center;
    border: 3px solid white;
    border-radius: 10px;
}

.main-container p {
    font-size: 24px;
    margin: 0px auto 5px auto;
    padding: 20px;
}

.main-container h1 {
    font-size: 48px;
}

.main-container h2 {
    margin: 10px auto;
    font-size: 36px;
}

.main-container ul {
    display: flex;
    list-style: square;
    padding: 0px 15px;
    justify-content: center;
    flex-wrap: wrap; /* allows items to wrap to the next line if needed */
    margin: 10px auto;
}

.main-container ul li{
    font-size: 18px;
    margin: 10px 20px;
    padding: 5px;
    border: 2px solid white;
}

